test1/target/META-INF/mule-src/test1/src/main/mule/test1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<global-property doc:name="Global Property" doc:id="29b85b8b-fdb4-4207-8cb1-e3ee2b33eebd" name="env" value="qa" />
	<configuration-properties doc:name="Configuration properties" doc:id="ed2dc480-f6f4-4e84-b461-5079dd23a2db" file="${env}-config.yaml" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d48646c1-4a03-43fa-9470-83f29f8668dd" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test1Flow" doc:id="7b59df85-5be5-4e8e-9024-0e96b37fd406" >
		<http:listener doc:name="Listener" doc:id="14fb9500-206e-4f95-b140-1b4714d8e2f6" config-ref="HTTP_Listener_config" path="/test1"/>
		<ee:transform doc:name="Transform Message" doc:id="36e41494-e418-4e5e-b445-db7a2a7fa406" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"key1" : "value1",
	"key2" : "value2"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="92ce1f5e-d82e-4efc-b213-c49b45082797" message="#[payload]"/>
	</flow>
</mule>
